/* ProductCard Styles */
.cart-btn{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
    width: 80%;
}
.cart-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.p-img{
    transition: transform 0.3s ease;
}
.p-img:hover{
    transform: scale(1.05);
}
/* .product-card img{
    border: 5px solid var(--primary-color);
    border-radius: 6px;
} */
.quantity-section input{
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    width: 80%;
    height: 30px;
    text-align: center;
}



/* Cart styles */
.cart-page{
    min-height: 100vh;
}
.cart-page h1{
    text-align: center;
    color: var(--primary-color);
  font-family: "Wallpoet", serif;
}

table{
    text-align: center;
}
table th{
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}

table tfoot th{
    border: none;
}
.p-title{
    text-align: start;
   
}
.cart-quantity{
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
}
.cart-close-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 3px;
    transition: transform 0.3s ease;
    padding: 10px;
    margin: 10px;
}
.cart-close-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* Cart-Summary styles */
.cart-summary{
    text-align: end;
    margin: 20px;
}